/*****************TAG SELECTORS *****************/
body{
  position: relative;
  margin: 0;
  text-align: center;
}

a {
  font-size: 1.0em;
  width: 100%
}

/*****************CLASS SELECTORS*****************/
.first-info {

}

.phoneNumber {
  position: absolute;
  right: 40px;
}

.navbar {
  margin-top: 50px;
}

.navbar-toggle{
    background-color: gray;
    color: #F3DBAA;
    border:none;
}

.navbar-toggle.but-menu:visited {
    color: #FFF;
    background-color: gray;
}

.top-info {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-inverse {
  margin-top: 20px;
  width: 50%;
  position: relative;
  left: 200px;
}

.container-fluid{
  width: 100%;
}



/*****************ID SELECTORS*****************/
#section2 {
  padding-top:50px;height:500px;color: #fff; background-color: #673ab7;
}

#section3 {
  padding-top:50px;height:500px;color: #fff; background-color: #ff9800;
}

#section41 {
  padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;
}

#section42 {
  padding-top:50px;height:500px;color: #fff; background-color: #009688;
}

#hinata {
  position: absolute;
  left: 20px;
  top: 0px;
  bottom: 10px;
  font-size: 25px;
}

#myCarousel{
  padding: 0px;
}
